{:deps    {
           org.clojure/clojure             {:mvn/version "1.10.0"}
           org.clojure/clojurescript       {:mvn/version "1.10.520"}

           binaryage/oops                  {:mvn/version "0.7.0"}
           clj-commons/secretary           {:mvn/version "1.2.4"}
           cljs-ajax                       {:mvn/version "0.8.0"}
           com.andrewmcveigh/cljs-time     {:mvn/version "0.5.2"}
           com.bhauman/figwheel-main       {:mvn/version "0.2.0"}
           com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
           com.cemerick/url                {:mvn/version "0.1.1"}
           com.taoensso/timbre             {:mvn/version "4.10.0"}
           prismatic/schema                {:mvn/version "1.1.10"}
           re-com                          {:mvn/version "2.5.0"}
           re-frame                        {:mvn/version "0.10.6"}
           reagent                         {:mvn/version "0.8.1"}
           reagent-utils                   {:mvn/version "0.3.3"}
           tupelo                          {:mvn/version "0.9.139"} ; #todo need upgrade after fix formatting bug re 'selmer' lib
           venantius/accountant            {:mvn/version "0.2.4"}
           }

 :paths   ["src/cljc" "src/cljs" "test/cljs" ;  "test/cljc"
           "target" "resources"]

 :aliases {
           :ancient   {:main-opts  ["-m" "deps-ancient.deps-ancient"]
                       :extra-deps {deps-ancient {:mvn/version "RELEASE"}}}
           :fig       {:main-opts ["-m" "figwheel.main"]}
           :build-dev {:main-opts  ["-m" "figwheel.main" "--build" "dev" "--repl"]
                       :extra-deps {tupelo {:local/root "/Users/r634165/tupelo/target/uberjar/tupelo-0.9.XXXXX-standalone.jar"}}
                       }
           }
 }

