*.class
*.iml 
*.jar
*.swp
.*.swp
.idea
.lein-deps-sum
.lein-plugins
.lein-repl-history
.nrepl-port
.repl
/.lein-*
/.nrepl-port
/checkouts
/classes
/lib
/node_modules
/out
/resources/public/js/compiled/**
/target
/test-results
TESTS-Chrome*.xml
classes
figwheel_server.log
package-lock.json
pom.xml.asc
.cpcache
.shadow-cljs
.DS_Store
.clj-kondo/.cache
.lsp/.cache
deploy-clojars.bash
